.container {
    background-color: #D5E1EF;
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 62vh;
    max-width: 20vw;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.card-image {
    display:grid;
    place-items: center;
    min-height: 50%;
    max-width: 95%;
}

.card-title{
    min-height: 10%;
    max-width: 95%;
    display:grid;
    font-weight: 700;
    font-size: 1rem;
    place-items: center;
    padding:15px;

}

.card-content{
    display:grid;
    place-items: center;
    min-height: 30%;
    max-width: 95%;
    font-weight: 400;
    font-size: 0.8rem;
    padding:15px;
    color: #4f4c4c;
}

.img-qr {
    max-height: 90%;
    max-width: 90%;
    border-radius: 8px;
}

/* Media Queries for smaller screens */

@media (max-width: 450px){
    .card{
        max-width: 85%;
   }
}